ul{
	line-height:50px;
	background-color: #000 ;
	text-align: center;
}
li{
	display: inline-block;
}
h1 {
        line-height: 48rem;
        font-size: 48rem;
    }
a {
	margin-right: 30px;
	margin-left: 30px;
	color: #fff;
}
a:hover {
	color: #ccc;
	text-decoration: none;
}
li:hover {
	background-color: blue;
}
